<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :artist_name %>
  <%= f.text_field :artist_name %>
  <br>
  <%= f.label :genre_id %>
  <%= f.collection_select :genre_id, Genre.all, :name, :name %>
  <br>

  <h3>Notes</h3>
  <%= f.fields_for :note_attributes do |note_attribute| %>
    1: <%= note_attribute.text_area :content, rows: 2, cols: 28 %>
    <br>
    2: <%= note_attribute.text_area :content, rows: 2, cols: 28 %>
    <br>
    3: <%= note_attribute.text_area :content, rows: 2, cols: 28 %>
    <br>
  <% end %>

  <%= f.submit %>
<% end %>


